.footer-main{
  margin-top:50px ;
  height: 50vh;
  background-color:rgb(33, 33, 36);
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-icon{
gap: 3rem;
color:white;
}
.f-icon > p{
  font-family:'Courier New', Courier, monospace !important;
  }
.icons{ 
width: 1.5rem;
margin: 0px 10px;
}
.f-contant{
  margin-bottom: 50px;
  
}
.f-contant ul{
  display: flex;
}

.ankar-tag {
margin:12px;
color: white;
text-decoration: none;
font-family:'Courier New', Courier, monospace !important;
font-size: 1rem;
text-transform:capitalize;
}
.ankar-tag:hover{
  color: rgb(188, 188, 186) !important;
}



@media(max-width:768px){
  .ankar-tag{
    font-size: 14px;
    margin: 7px;
  }
 
  .f-contant ul{
   padding: 0px;
  }
  .row {
    --bs-gutter-x: 0px;}
  
}