@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,600;1,300;1,400&family=Courgette&family=DM+Serif+Text:ital@0;1&family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Hurricane&family=Indie+Flower&family=Markazi+Text:wght@400;500;600;700&family=Merienda:wght@400;700&family=Pacifico&family=Red+Hat+Mono:ital,wght@0,300;0,500;1,300&family=Satisfy&family=Vollkorn:ital,wght@0,400;0,500;0,600;1,400&display=swap");

.profile_container {
  background-color: #fff;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.profile-parent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  padding: 10px;
}

.profile-picture-background {
  height: 380px;
  width: 380px;
  background-image: url("./Photos/D.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.profile-details-name {
  margin-bottom: 50px;
}

.primary-text {
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  font-size: 50px;
}

.profile-details-role {
  font-size: 30px;
  font-weight: 50px;
  line-height: 1.2em;
  font-family: "Cormorant Garamond", serif;
  text-align: start;
}

.Text-typed {
  color: chartreuse;
}

.ityped-cursor {
  font-size: 2rem;
  color: chartreuse;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .profile-details-name {
    margin-bottom: 20px;
  }

  .home_row {
    display: flex;
    justify-content: center;
  }
  .profile-bga {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .primary-text {
    font-weight: 600;
    font-size: 20px;
  }
  .heading_a {
    font-size: 20px;
  }

  .profile-picture {
    margin: 20px;
  }
  .profile-picture-background {
    height: 310px;
    width: 310px;
  }

  .profile-details-role {
    font-size: 20px;
    font-weight: 25px;
  }

  .profile-parent {
    margin-bottom: 30px;
    padding: 30px;
    width: 100%;
  }
}

@media (max-width: 350px) {
  .profile-details-name {
    margin-bottom: 10px;
  }

  .home_row {
    display: flex;
    justify-content: center;
  }

  .primary-text {
    font-weight: 300;
    font-size: 15px;
  }

  .profile-picture-background {
    height: 220px;
    width: 220px;
  }
  .profile-details-role {
    font-size: 15px;
    font-weight: 25px;
  }

  .profile-parent {
    margin-bottom: 10px;
    padding: 15px;
    width: 90%;
  }
  .heading_a {
    font-size: 13px;
  }
}
