@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;1,400&display=swap');
*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.my-5 {
    
    background: red;
    color: #fff;
}