.navbar-brand {
  font-size: 28px;
  color: #fff !important;
  font-family:'Courier New', Courier, monospace !important;
  border-bottom: none !important;
}
.navbar {
  background-color: #000 !important;
}
.navbar .nav-link {
  font-family:'Courier New', Courier, monospace !important;
  font-size: 1rem;
  text-transform: capitalize;
  color: #fff !important;
}
.active {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}
.nav-link:hover,
.active:hover {
  color: #c5c5c5 !important;
  border-color: #c5c5c5;
}

#navbarSupportedContent {
  justify-content: right;
}

@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5em !important;
  }
  .active {
    border-bottom: none !important;
  }
}
